/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button {
  background: none;
  font: inherit;
}
input {
  width: 100%;
}
button {
  color: inherit;
  cursor: pointer;
}
 html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
  background: #f5f6f7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Navigation CSS */
.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  color: #000;
 }
 .logo {display: inline-block;
  text-transform: uppercase;

}

 .nav-bar ul {display: flex;


}
.nav-bar ul li {padding-right: 15px;}

/* Carousel section */
.carousel-div {
  width: 100%;
  height: 300px;
  background-color: beige;
  border-bottom: 4px solid #fdb347;;
}
/* Second section */
.home-divs {display: flex;
  flex-wrap: wrap;

}
.home-divs img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}
.color {
  height: 100vh;
  width: 100vw;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.indigo {
  background-color: indigo;
}
.violet {
  background-color: violet;
}
